<!DOCTYPE html>	
<html lang="en" class="no-js">
<head>
	
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>Barack Obama - my rep</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="/public/css/reset.css">
	<link rel="stylesheet" href="/public/css/style.css">

	<script src="/public/js/libs/modernizr-1.7.min.js"></script>

</head>

<body class="main user-1">

	<div class="container">
	
		<section class="panel">
			
			<header>
				
				<h1>Barack Obama</h1>
				
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				
			</header>
			
			<div class="subsection achievements">
				
				<h2>What I achieved <span class="text"><a class="text-button rounded" href="#">Add</a></span></h2>
				
				<ul class="no-bullet">
					<li><a class="" href="#">Lorem ipsum dolor sit amet</a> <a class="text-button rounded" href="#">Read</a></li>
					<li><a class="" href="#">Eiusmod tempor incididunt ut labore et dolore magna</a> <a class="text-button rounded" href="#">Read</a></li>
					<li><a class="" href="#">Consectetur adipisicing elit eiusmod tempor</a> <a class="text-button rounded" href="#">Read</a></li>
				</ul>
				
				<p class="more">
					<a href="#">+ View all</a>
				</p>
				
			</div>
			
			<div class="subsection topics">
				
				<h2>Topics I cover</h2>
				
<!-- 
Arts
Business and Economy
Computers and Internet
Education and Reference
Entertainment and Media
Finance
Health
Home and Family
Kids and Teens
News and Current Affairs
Regional
Science
Shopping
Society
Sports and Recreation
-->
				<ul class="no-bullet icons">
					<li><a href="#"><span class="icon rounded topic-1"></span>Arts</a></li>
					<li><a href="#"><span class="icon rounded topic-2"></span>Finance</a></li>
					<li><a href="#"><span class="icon rounded topic-3"></span>Health</a></li>
					<li><a href="#"><span class="icon rounded topic-4"></span>Regional</a></li>
					<li><a href="#"><span class="icon rounded topic-5"></span>Science</a></li>
				</ul>
			
			</div>
			
		</section>
		
	</div>


	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.js"></script>
	<script>!window.jQuery && document.write(unescape('%3Cscript src="/public/js/libs/jquery-1.5.2.min.js"%3E%3C/script%3E'))</script>
	<script src="/public/js/main.js"></script>
	
	
</body>
</html>