<div class="container">

	<section class="panel">
		
		<header>
			
			<h1>Sabah Hamamou</h1>
			
			<p class="meta medium">February 8th, 1975 • Cairo, Egypt</p>
			
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			
		</header>
		
		<div class="subsection achievements">
			
			<h2>What I achieved <a class="action small-link" href="#">+ Add</a></h2>
			
			<ul class="no-bullet">
				<li><a class="" href="#">Lorem ipsum dolor sit amet</a> <a class="action text-button rounded" href="#">Read</a></li>
				<li><a class="" href="#">Eiusmod tempor incididunt ut labore et dolore magna</a> <a class="action text-button rounded" href="#">Read</a></li>
				<li><a class="" href="#">Consectetur adipisicing elit eiusmod tempor</a> <a class="action text-button rounded" href="#">Read</a></li>
			</ul>
			
			<p class="more">
				<a class="action small-link" href="#">+ View all</a>
			</p>
			
		</div>
		
		<div class="subsection topics">
			
			<h2>Topics I cover</h2>
			
<!-- 
Arts
Business and Economy
Computers and Internet
Education and Reference
Entertainment and Media
Finance
Health
Home and Family
Kids and Teens
News and Current Affairs
Regional
Science
Shopping
Society
Sports and Recreation
-->
			<ul class="no-bullet icons">
				<li><a class="medium" href="#"><span class="icon rounded topic-1"></span>Arts</a></li>
				<li><a class="medium" href="#"><span class="icon rounded topic-2"></span>Finance</a></li>
				<li><a class="medium" href="#"><span class="icon rounded topic-3"></span>Health</a></li>
				<li><a class="medium" href="#"><span class="icon rounded topic-4"></span>Regional</a></li>
				<li><a class="medium" href="#"><span class="icon rounded topic-5"></span>Science</a></li>
			</ul>
		
		</div>
		
	</section>
	
</div>